<ng-container [ngSwitch]="case">

  <ng-container *ngSwitchCase="1">

    <!--    case 1-->
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th *matHeaderCellDef mat-header-cell> No.</th>
        <td *matCellDef="let element" mat-cell> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th *matHeaderCellDef mat-header-cell> Weight</th>
        <td *matCellDef="let element" mat-cell> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th *matHeaderCellDef mat-header-cell> Symbol</th>
        <td *matCellDef="let element" mat-cell> {{element.symbol}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayColumns;" mat-row></tr>
    </table>


    <!--end of case 1-->
  </ng-container>

  <ng-container *ngSwitchCase="2">


    <!--case 2-->

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <ng-container *ngFor="let column of displayColumns" [matColumnDef]="column">

        <ng-container *ngIf="column === 'name'">
          <th *matHeaderCellDef mat-header-cell> {{column | titlecase}} </th>
          <td *matCellDef="let element" mat-cell>
    <span [class.heavy]="element.weight > 15"
          [class.light]="element.weight < 5"
          [class.moderate]="element.weight > 5 && element.weight < 15">
      {{element.name}}
     </span>
          </td>
        </ng-container>

        <th *matHeaderCellDef mat-header-cell>{{ column | titlecase }}</th>
        <td *matCellDef="let element" mat-cell> {{ element[column] }} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayColumns;" mat-row></tr>
    </table>

    <!--end of case 2-->

  </ng-container>

  <ng-container *ngSwitchCase="3">

    <!--case 3-->


    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <ng-container *ngFor="let column of displayColumns" [matColumnDef]="column">

        <ng-container [ngSwitch]="column">

          <ng-container *ngSwitchCase="'name'">
            <th *matHeaderCellDef mat-header-cell> {{column | titlecase}} </th>
            <td *matCellDef="let element" mat-cell>
          <span [class.heavy]="element.weight > 15"
                [class.light]="element.weight < 5"
                [class.moderate]="element.weight > 5 && element.weight < 15">
      {{element.name}}
          </span>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'weight'">
            <th *matHeaderCellDef mat-header-cell> {{column | titlecase}} </th>
            <td *matCellDef="let element" mat-cell>
              {{element.weight | number: '1.1-3'}}
            </td>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <th *matHeaderCellDef mat-header-cell>{{ column | titlecase }}</th>
            <td *matCellDef="let element" mat-cell> {{ element[column] }} </td>
          </ng-container>

        </ng-container>
      </ng-container>

      <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayColumns;" mat-row></tr>
    </table>


    <!--end of case 3-->


  </ng-container>

  <ng-container *ngSwitchCase="4">


    <!--case 4-->

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <ng-container *ngFor="let column of displayColumns" [matColumnDef]="column">

        <ng-container [ngSwitch]="column">

          <ng-container *ngSwitchCase="'name'">
            <th *matHeaderCellDef mat-header-cell> {{column | titlecase}} </th>
            <td *matCellDef="let element" mat-cell>
          <span [class.heavy]="element.weight > 15"
                [class.light]="element.weight < 5"
                [class.moderate]="element.weight > 5 && element.weight < 15">
      {{element.name}}
          </span>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'weight'">
            <th *matHeaderCellDef mat-header-cell> {{column | titlecase}} </th>
            <td *matCellDef="let element" mat-cell>
              {{element.weight | number: '1.1-3'}}
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'cost'">
            <th *matHeaderCellDef mat-header-cell> {{column | titlecase}} </th>
            <td *matCellDef="let element" mat-cell>
              💰 {{element.cost | currency: 'MYR'}}
            </td>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <th *matHeaderCellDef mat-header-cell>{{ column | titlecase }}</th>
            <td *matCellDef="let element" mat-cell> {{ element[column] }} </td>
          </ng-container>

        </ng-container>
      </ng-container>

      <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayColumns;" mat-row></tr>
    </table>

    <!--end of case 4-->


  </ng-container>


</ng-container>

